@using EntityLayer.Concrete
@model List<Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu Adı</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <th>@item.SubjectID</th>
        <td>@item.SubjectName</td>
        <td>@item.SubjectDescription</td>
        <td><a href="/AdminSubject/DeleteSubject/@item.SubjectID" class="btn btn-danger">Sil</a></td>
        <td><a href="/AdminSubject/EditSubject/@item.SubjectID" class="btn btn-warning">Güncelle</a></td>
        <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
    </tr>
    }
</table>
<br />
<a href="/AdminSubject/AddSubject" class="btn btn-info">Yeni Konu</a>
