
@{
    ViewBag.Title = "Vocable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vocable</h2>
<br />
<h3>Buradada hatalı, düzenlenmiş, alternatif kelimeler, kelime listesi ve düzenleme seçenekleri bulunacaktır</h3>

